{% extends "layout.html" %}
{% block content %}
  <div class="input">
    <!--<h1 style="font-size: 25px;color:#37473c;text-decoration: underline">Please enter a keyword and the wished amount of results</h1>-->
      <h1 style="font-size: 20px;color:#37473c">Please enter a keyword and the wished amount of results</h1>
      <form method="post">
          <label for="keyword_input">search for:</label>
          <input type="text" pattern="^[\x20-\x7F]+$"  name="keyword_input" id="keyword_input"/>

          <label name="number_input">amount of results:</label>
          <!--set max to 100 000 eg -->
          <input type="number" min="-1" max="100" name="number_input" id="number_input"/><br>


          <p>Filter options:</p>
          <input type="checkbox" id="newest" name="options" value="published recently">
          <label for="newest"> published within the last 5 years </label><br>
          <input type="checkbox" id="popular" name="options" value="cited frequently">
          <label for="popular"> cited frequently (more than ... times?) </label><br>

          <input type="submit" name="search"/>
          <!-- note for number input!!-->
          <p>note: please only use ASCII characters. </p>
      </form>
  </div>
{% endblock %}