{% extends "layout.html" %}
{% block content %}
   <div class="output">
       <h1 style="font-size: 25px;color:#37473c;text-decoration: underline">OUTPUT</h1>


        <p style="font-size: 15px">you searched for: <p style="color: #335c37;padding: 1px;font-weight: bold;text-transform: uppercase"> {{key}}</p>

       <form method="post" action = {{url_for('sorting')}}>
        <input type="radio" id="score" name="sorting" value="sort by score">
        <label for="score"> sort by score </label><br>
        <input type="radio" id="alphabetically" name="sorting" value="sort alphabetically">
        <label for="alphabetically"> sort alphabetically </label><br>
        <input type="submit"/>
       </form>

        <p style="font-size: 15px;text-decoration: underline"> search result:</p>
        {% for table in tables %}
            <!---{{titles[loop.index]}}--->
            {{ table|safe }}
        {% endfor %}
        <p style="font-size: 15px"> filtered for: {{options}}</p>

   </div>
 {% endblock %}