{% extends "layout.html" %}
{% block content %}
   <div class="output">
       <h1 style="font-size: 25px;color:#37473c;text-decoration: underline">OUTPUT</h1>


        <p style="font-size: 15px">you searched for: <p style="color: #335c37;padding: 1px;font-weight: bold;text-transform: uppercase"> {{key}}</p>

       <form method="post" action = {{url_for('sorting')}}>
        <input type="radio" id="score" name="sorting" value="score">
        <label for="score"> sort by score </label><br>
        <input type="radio" id="title" name="sorting" value="title">
        <label for="title"> sort alphabetically by title </label><br>
        <input type="radio" id="author" name="sorting" value="author">
        <label for="author"> sort alphabetically by author </label><br>
        <input type="radio" id="date" name="sorting" value="date">
        <label for="date"> sort by date </label><br>
        <input type="submit" name="sort"/>
       </form>

        <p style="font-size: 15px;text-decoration: underline"> search result:</p>
        {% for table in tables %}
            <!---{{titles[loop.index]}}--->
            {{ table|safe }}
        {% endfor %}
        <p style="font-size: 15px"> filtered for: {{options}}</p>

   </div>
 {% endblock %}